<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">remove_red_eye</i>
            </div>
            <h4 class="card-title">
             yyy
              <strong> titl</strong>
            </h4>
          </div>
          <div class="card-body">
            <back-button></back-button>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <div class="table">
                    <tbody>
                      <tr>
                        <td class="text-primary">
                        hrader
                        </td>
                        <td>
                       id
                        </td>
                      </tr>
                      <tr>
                        <td class="text-primary">
                        compnamr
                        </td>
                        <td>
                       compmem
                        </td>
                      </tr>
                      <tr>
                        <td class="text-primary">
                         addr
                        </td>
                        <td>
                      adddr
                        </td>
                      </tr>
                      <tr>
                        <td class="text-primary">
                         website
                        </td>
                        <td>
                          {{ entry.company_website }}
                        </td>
                      </tr>
                      <tr>
                        <td class="text-primary">
                       rrrr
                        </td>
                        <td>
                          {{ entry.company_email }}
                        </td>
                      </tr>
                    </tbody>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {}
  },
  beforeDestroy() {
    this.resetState()
  },
  computed: {
    ...mapGetters('ContactCompaniesSingle', ['entry'])
  },
  watch: {
    '$route.params.id': {
      immediate: true,
      handler() {
        this.resetState()
        this.fetchShowData(this.$route.params.id)
      }
    }
  },
  methods: {
    ...mapActions('ContactCompaniesSingle', ['fetchShowData', 'resetState'])
  }
}
</script>
